In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset as dataframe (df)
df = pd.read_csv('Social_Network_Ads.csv')
# view basic stats
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [3]:
# convert data from pandas data frame to arrays
# all machine learning calculations are done with arrays

# NOTE! encoding needs to be done 'in-one-go'
x = df.iloc[:,1:4].values
y = df.iloc[:, 4].values

# import encoders from scikit
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
gender_encoder = LabelEncoder()
# encode gender labels to numbers
x[:,0] = gender_encoder.fit_transform(x[:,0])

# define encode of gender to boolean
gender_boolean = OneHotEncoder(categorical_features = [0])
# execute conversion
x = gender_boolean.fit_transform(x).toarray()

NameError: name 'dataset' is not defined

In [ ]:
# check encoding
df_x = pd.DataFrame(x)
df_x.describe()

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [ ]:
df_x = pd.DataFrame(x_train)
df_x.describe()

In [ ]:
# Feature scaling - normalizing data
from sklearn.preprocessing import StandardScaler
scale_x = StandardScaler()
x_train = scale_x.fit_transform(x_train)
x_test = scale_x.transform(x_test)

In [ ]:
df_x = pd.DataFrame(x_train)
df_x.describe()