In [22]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
# use pandas to import data as data frame
dataset = pd.read_csv('../Data Preprocessing Template/Data.csv')

In [4]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [5]:
# from data fram split data into x (independent), y (dependent) arrays
# all machine learning libs work with arrays (not with dataframes) 
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

# Handling missing values
For machine learning analyses missing values are usually handled by imputing some common value like mean, median or modal. This is done because by removing records that have missing values, especially when lot of variables are used during analyses will significantly reduce sample size.

In [8]:
# Replace missing values with mean value of the column
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer.fit(x[:, 1:3])
x[:, 1:3] = imputer.transform(x[:, 1:3])

# Encoding categorical data
Categorical date expressed as text values need to prepared for the analyses. The preparation is twofold:

- Encoding strings to numbers: First action is to convert string values into numbers as machine learning alogs work only with numbers
- Removing numerical meaning from categorical value: in case when we have 'pure' categorical scale/value where position/number does not have meaning, we need to recode categorical values into boolean type (true/false). In this example, countries are records to numbers in the first instance and because values of each countries are not orignal or ration scale we convert it to array having 0/1 (true/false) value for each of country values.

In [12]:
# import encoders from scikit
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

## Encode country values into boolean array

In [15]:
# init label encoder
country_encoder = LabelEncoder()
# convert labels of first column (country) to numerical values
x[:,0] = country_encoder.fit_transform(x[:,0])
# init boolean encoder and convert values into array of 
# categorical_features param takes col to transform from values into boolean array, 
# here is this col country 
bool_encoder = OneHotEncoder(categorical_features = [0])
x = bool_encoder.fit_transform(x).toarray()

## Encode dependent (y) purchase y/n into numerical values

In [16]:
# no = 0, yes = 1
purchase_encoder = LabelEncoder()
y = purchase_encoder.fit_transform(y)

# Spliting data set into training and test sets
Total data is usually split into 2 parts. In this example we use cross_validation module from scikit learn. In this example we use train_test_split function from scikit_learn. We pass arrays of independent, dependent var and test_size as value between 0 - 1 (representing % of split). Common split is 80/20, where 80% is used for training. Split is performed at random, but for replication one should provide random_state value.

`NOTE! cross_validation module is replaced with model_selection since v0.18`

In [19]:
# import cross validation module from scikit-learn
# NOTE! 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [25]:
# create dataframe from x_train
# just to be able to print it here as table
# for visual controle
test = pd.DataFrame(x_train)

In [26]:
test

     0    1    2    3    4    5          6             7
0  1.0  0.0  1.0  0.0  1.0  0.0  40.000000  63777.777778
1  0.0  1.0  0.0  1.0  0.0  0.0  37.000000  67000.000000
2  1.0  0.0  1.0  0.0  0.0  1.0  27.000000  48000.000000
3  1.0  0.0  1.0  0.0  0.0  1.0  38.777778  52000.000000
4  0.0  1.0  0.0  1.0  0.0  0.0  48.000000  79000.000000
5  1.0  0.0  1.0  0.0  0.0  1.0  38.000000  61000.000000
6  0.0  1.0  0.0  1.0  0.0  0.0  44.000000  72000.000000
7  0.0  1.0  0.0  1.0  0.0  0.0  35.000000  58000.000000